*{
    margin: 0 ;
    border: border-box;
    font-family: 'Prompt';
}
:root{
    --primary1: #FF0066;
    --secundario3: #BBF2DD;
    --fons1: #303030;
    --blanco: #fff;
}
.preHeader, .header, .nav{
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.preHeader{
    background-color: var(--secundario3);
    display: flex;
    justify-content: center;
    padding: 10px;
    top: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: var(--primary1) 2px solid;
    padding: 10px;
    top: 43px;
    background-color: var(--blanco);
}
.header div{
    display: flex;
    align-items: center;
}
h1{
    margin-left: 10px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: var(--primary1);
}
.iconos{
    width: 40px;
    height: 40px;
    padding: 0px 10px 0px 10px;
}
form {
    background-color: white;
    width: 272px;
    height: 44px;
    border-radius: 50px;
    border: black 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
::placeholder {
    color: black;
    opacity: 0.7;
}
button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg {
    color: black;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}
.nav{
    display: flex;
    justify-content: space-around;
    top: 125px;
    background: var(--blanco);
}
.nav a{
    text-decoration: none;
    color: var(--fons1);
    padding: 36px 0px 57px 0px;
}
.intro{
    margin: 128px 5% 0px 5%;
    display: flex;
}
.intro h2{
    color: var(--primary1);
}
.intro a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--primary1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin-top: 10px;
}
.intro p{
    margin-bottom: 24px;
}
.heroSection{
    margin-top: 233px;
}
.heroSection .bx-wrapper{
    max-width: 100vw !important;

}
.bxslider img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.slideText{
    position: absolute;
    color: var(--blanco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#carruselText1{
    bottom: 40px;
    right: 40px;
    width: 20%;
}
#carruselText2{
    top: 67px;
    right: 185px;
}
#carruselText3{
    top: 270px;
    right: 617px;
    width: 28%;
}
#carruselText4{
    top: 67px;
    right: 0px;
    width: 27%;
}
#carruselText5{
    bottom: 95px;
    right: 130px;
    width: 31%;
}
.slideText h4{
    font-family: 'Playfair Display';
    font-size: 40px;
    margin-bottom: 5px;
}
#slide2{
    object-position: 50% 10%;
}
#slide3{
    object-position: 50% 69%;
}
#slide4{
    object-position: 50% 30%;
}
#slide5{
    object-position: 50% 9%;
}
.bx-pager {
    position: relative;
    z-index: 90;
    margin-top: -120px;
    left: 45%;
}

.bx-pager-item {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.bx-pager-item.active {
    background-color: #fff;
}

.pagerDot{
    text-decoration: none;
    color: var(--blanco);
    font-size: 100px;
}
.bx-pager a.active {
    color: var(--primary1);
}
.novTitle{
    margin: 60px 40% 92px 40%;
}
.colabTitle{
    margin: 60px 30% 92px 30%;
}
.novTitle h2, .colabTitle h2{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: var(--primary1);
    border-bottom: var(--primary1) solid 2px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item p{
    margin-top: 19px;
    margin-bottom: 34px;
}
.itemC{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemImage{
    object-fit: cover;
    width: 254.15px;
    height: 340px;
}
.btnCarrito{
    text-decoration: none;
    color: var(--fons1);
    border: var(--fons1) solid 2px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.genero{
    display: flex;
    justify-content: space-around;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--secundario3);
    margin-top: 20%;
    padding-top: 80px;
    padding-bottom: 60px;
}
.footer p,h4{
    margin-bottom: 13px;
}
.footer h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.footer p{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
.contactos{
    border: var(--fons1) solid 2px;
    border-radius: 5px;
    padding: 36px;
}
.redes{
    margin: 10px;
    font-size:50px !important;
}
.pendientesDibu{
    position:relative;
}
.pendientesDibu img:first-child {
    top: 10px;
    left: 0px;
}
.pendientesDibu img{
    position: absolute;
    width: 100px;
    top: -39px;
    left: 161px;
    width: 283.46px;
}
.controles {
  /* position: absolute !important;
  top: 15em;
  transform: translateY(-50%);
  z-index: 60 !important;
  display: block !important; */
    position: relative;
    z-index: 90;
    margin-top: -325px;
    margin-bottom: 348px;
}
.controles a {
    transition: background-color .3s ease-in-out;
}

.controles .prev {
  float: left;
}
.controles .next {
  float: right;
}
.prev img,.next img{
    width: 50px;
    height: 50px;
    filter: invert(100%);
}
.colaboradores{
    margin-top: 110px;
}
.logosColab{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logosColab img{
    width: 15%;
    height: 20%;
}
.logosColab img:nth-child(2) {
    width: 19%;
}
.logosColab img:nth-child(3) {
    width: 14%;
}
