*{
    margin: 0 ;
    border: border-box;
    font-family: 'Prompt';
}
:root{
    --primary1: #FF0066;
    --secundario3: #BBF2DD;
    --fons1: #303030;
    --fons2: #979797;
    --blanco: #fff;
    --facebook: #0077FF;
}
.preHeader, .header, .nav{
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.preHeader{
    background-color: var(--secundario3);
    display: flex;
    justify-content: center;
    padding: 10px;
    top: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: var(--primary1) 2px solid;
    padding: 10px;
    top: 43px;
    background-color: var(--blanco);
    height: 49px;
}
.header a{
    text-decoration: none;
    /* display: flex; */
}
.header div{
    display: flex;
    align-items: center;
}
.logoJoiesCrush{
    width: 4%;
    border-radius: 50%;
}
h1{
    margin-left: 10px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: var(--primary1);
}
.iconos{
    width: 40px;
    height: 40px;
    padding: 0px 10px 0px 10px;
}
.search-container form {
    background-color: white;
    width: 272px;
    height: 44px;
    border-radius: 50px;
    border: black 2px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-container input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
::placeholder {
    color: black;
    opacity: 0.7;
}
button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg {
    color: black;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}
.nav{
    display: flex;
    justify-content: space-around;
    top: 114px;
    background: var(--blanco);
    height: 100px;
}
.nav a{
    text-decoration: none;
    color: var(--fons1);
    padding: 36px 0px 57px 0px;
}
.intro{
    margin: 128px 5% 0px 5%;
    display: flex;
}
.intro div{
    width: 100%;
}
.intro h2{
    color: var(--primary1);
}
.intro a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--primary1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin-top: 10px;
}
.intro p{
    margin-bottom: 24px;
}
.space{
    height: 233px;
}
.heroSection .bx-wrapper{
    max-width: 100vw !important;

}
.bxslider img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.slideText{
    position: absolute;
    color: var(--blanco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#carruselText1{
    bottom: 40px;
    right: 40px;
    width: 20%;
}
#carruselText2{
    top: 67px;
    right: 185px;
}
#carruselText3{
    top: 270px;
    right: 617px;
    width: 28%;
}
#carruselText4{
    top: 67px;
    right: 0px;
    width: 27%;
}
#carruselText5{
    bottom: 95px;
    right: 130px;
    width: 31%;
}
.slideText h4{
    font-family: 'Playfair Display';
    font-size: 40px;
    margin-bottom: 5px;
}
#slide2{
    object-position: 50% 10%;
}
#slide3{
    object-position: 50% 69%;
}
#slide4{
    object-position: 50% 30%;
}
#slide5{
    object-position: 50% 9%;
}
.bx-pager {
    position: relative;
    z-index: 90;
    margin-top: -120px;
    left: 45%;
    width: 20%;
}

.bx-pager-item {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.bx-pager-item.active {
    background-color: #fff;
}

.pagerDot{
    text-decoration: none;
    color: var(--blanco);
    font-size: 100px;
}
.bx-pager a.active {
    color: var(--primary1);
}
.novTitle{
    margin: 60px 40% 92px 40%;
}
.colabTitle{
    margin: 60px 30% 92px 30%;
}
.novTitle h2, .colabTitle h2{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: var(--primary1);
    border-bottom: var(--primary1) solid 2px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item p{
    margin-top: 19px;
    margin-bottom: 34px;
}
.itemC{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemImage{
    object-fit: cover;
    width: 254.15px;
    height: 340px;
}
.btnCarrito{
    text-decoration: none;
    color: var(--fons1);
    border: var(--fons1) solid 2px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.genero{
    display: flex;
    justify-content: space-around;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--secundario3);
    margin-top: 20%;
    padding-top: 80px;
    padding-bottom: 60px;
}
.footer p,h4{
    margin-bottom: 13px;
}
.footer h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.footer p{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
.contactos{
    border: var(--fons1) solid 2px;
    border-radius: 5px;
    padding: 36px;
}
.redes{
    margin: 10px;
    font-size:50px !important;
}
.pendientesDibu{
    position:relative;
}
.pendientesDibu img:first-child {
    top: 10px;
    left: 0px;
}
.pendientesDibu img{
    position: absolute;
    width: 100px;
    top: -39px;
    left: 161px;
    width: 283.46px;
}
.controles {
  /* position: absolute !important;
  top: 15em;
  transform: translateY(-50%);
  z-index: 60 !important;
  display: block !important; */
    position: relative;
    z-index: 90;
    margin-top: -325px;
    margin-bottom: 348px;
}
.controles a {
    transition: background-color .3s ease-in-out;
}

.controles .prev {
  float: left;
}
.controles .next {
  float: right;
}
.prev img,.next img{
    width: 50px;
    height: 50px;
    filter: invert(100%);
}
.colaboradores{
    margin-top: 110px;
}
.logosColab{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logosColab img{
    width: 15%;
    height: 20%;
}
.logosColab img:nth-child(2) {
    width: 19%;
}
.logosColab img:nth-child(3) {
    width: 14%;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .loginForm h2{

} */
.regisForm{
    display: flex;
    justify-content: center;
}
.regisForm div:not(.check){
    width: 20%;
    padding: 0px 60px 0px 60px;
    margin-top: 30px;
}
.regisForm div:first-child{
    border-right: 2px solid black;
}
.regisForm h3{
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    color: var(--fons1);
    margin-bottom: 25px;
}
.regisForm input{
    width: 100%;
    border: 1px solid var(--fons1);
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 25px;
}
.regisForm input::placeholder{
    color: var(--fons2);
    font-size: 16px;
    line-height: 24px;
}
.regisForm .checkbox{
    width: 24.62px;
    height: 20px;
    margin-bottom: 0px;
}
.regisForm .check{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.regisForm .check a{
    margin-left: auto;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    color: var(--fons1);
}
.regisForm p{
    color: var(--fons2);
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}
.regisForm button{
    width: 100%;
    border-radius: 50px;
    padding-right: 20px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.regisForm .loginbtn{
    background-color: var(--fons1);
    color: var(--blanco);
}
.regisForm .fbkbtn{
    background-color: var(--facebook);
    color: var(--blanco);
}
.regisForm .googlebtn{
    border: 1px solid var(--fons1);
}
.regisForm svg:not(.regisForm .googlebtn svg){
    fill: var(--blanco);
}
.error{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error h2{
    font-weight: 800;
    font-size: 80px;
    line-height: 121px;
    text-align: center;
    color: var(--primary1);
}
.error h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FF0066;
}
.error p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--fons1);
}
.error a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--blanco);
    background-color: var(--primary1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}
.error img{
    width: 20%;
}
.error div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swal2-confirm {
    background-color: var(--primary1) !important;
    width: 100%;
}
.swal2-container {
    z-index: 9999 !important;
}
#swal2-html-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* contact form */
.contactUs {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
.contactUs .form-group {
    margin-bottom: 1rem;
}
.contactUs form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.contactUs h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--primary1);
  }
.contactUs label {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555;
}
.contactUs input,textarea {
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
    margin-bottom: 2rem;
}
.contactUs textarea {
    resize: none;
    height: 10rem;
}
.contactUs button {
    background-color: var(--primary1);
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 10rem;
    text-align: center;
}
.contactUs button:hover {
    background-color: #ff0044;
}
.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animate__fadeInUp {
    animation-name: fadeInUp;
}
/* galeria */
.grid img{
    width: 20%;
    display: inline-block;
}
.grid{
    display: grid;
    column-count: 6;
    grid-gap: 20px;
}
/* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-count: 6;
    grid-gap: 20px;
    grid-auto-rows: 0;
    grid-auto-flow: dense;
  }

  .grid-item {
    margin-bottom: 20px;
    line-height: 0;
    grid-row-end: span 2;
  }

  .grid-item:nth-child(3n+2) {
    grid-row-end: span 3;
  }

  .grid-item:nth-child(4n+1) {
    grid-row-end: span 3;
  }

  .grid-item:nth-child(5n+3) {
    grid-row-end: span 2;
  }

  .grid-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

  .grid-item:hover img {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }

  .grid-item--gigante {
    width: 1100px !important;
    height: auto !important;
    z-index: 999;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    font-size: 2em;
    color: #000;
    cursor: pointer;
    z-index: 1000;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
  }

  @media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 10px;
      padding: 10px;
      min-height: 1500px;
    }

    .grid-item--gigante {
      width: 90% !important;
    }
  } */
.aboutUs{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.aboutUs h2{
    color: var(--primary1);
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.05em;
}
.ceos div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutUs div img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    /* object-position: top; */
}
.ceos{
    display: flex;
}
/* dashboardAdmin */
.userTable {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.userTable thead {
    background-color: var(--primary1);
    color: var(--blanco);
}
.userTable th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid var(--blanco);
}
.userTable th:first-child, td:first-child {
    border-left: none;
}
.userTable th:last-child, td:last-child {
    border-right: none;
}
.userTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.userTable tbody tr:hover {
    background-color: #ddd;
}
/* productShow */
.product {
    display: flex;
    justify-content: center;
    height: 80vh;
}

.product-image {
    width: 30%;
    height: 60%;
    object-fit: cover;
}

.product-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.product-details h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary1);
    margin-bottom: 20px;
}

.product-price {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 10px;
}

.product-stock {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 10px;
}

.product-form {
    display: flex;
}

.product-form button[type="submit"]{
    font-size: 1rem;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--primary1);
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    width: auto;
}

.product-button:hover {
    background-color: #ff0033;
}
.quantity{
    display: flex;
    align-items: center;
}
.quantity input{
    width: 10%;
    text-align: center;
    border: none;
}
.quantity button{
    background-color: var(--primary1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--blanco);
    font-size: 30px;
    width: 20px;
    height: 20px;
    margin-inline: 16px;
}
/* productList */
.cartTitle{
    color: var(--primary1);
    margin-left: 10%;
}

.cartTable {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.cartTable th {
    background-color: #ccc;
    color: #fff;
    padding: 10px;
    text-align: left;
}
.cartTable img {
    width: 50%;
}
.cartTable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

.cartTable td:last-child {
    text-align: center;
}

.cartTable button[type="submit"] {
    background-color: #ff0066;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cartTable a.btn {
    display: inline-block;
    background-color: #ff0066;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
/* arrecadesPage */
.arrecades-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 50px auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.arrecades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

.arrecades-image img {
    max-width: 100%;
    height: auto;
}

.arrecades-details a{
    text-decoration: none;
}

.arrecades-details h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primary1);
}

.arrecades-details p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.arrecades-details button {
    background-color: var(--primary1);
    color: var(--blanco);
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 86%;
}
.arrecades-cantidad{
    width: 20%;
    text-align: center;
    margin-bottom: 10px;
}